n8n/auto-tweet-new-episodes-v2.json
{
  "name": "Auto-Tweet New Episodes",
  "nodes": [
    {
      "parameters": {
        "url": "https://theaifornormalpeople.com/index.xml",
        "options": {}
      },
      "name": "RSS Feed Reader",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "={{$env.AIRTABLE_APP_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Posted Content",
          "mode": "list"
        },
        "options": {
          "filterByFormula": "URL = '{{$json[\"link\"]}}'"
        }
      },
      "name": "Check If Already Posted",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [450, 300],
      "credentials": {
        "airtableApi": {
          "id": "2",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "boolean": [
            {
              "value1": "={{$json.records ? $json.records.length : ($json ? 0 : 0)}}",
              "value2": 0,
              "operation": "equal"
            }
          ]
        },
        "options": {}
      },
      "name": "If Not Posted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-sonnet-4-20250514"
            },
            {
              "name": "max_tokens",
              "value": 300
            },
            {
              "name": "messages",
              "value": "[{\"role\": \"user\", \"content\": \"Write a tweet promoting this blog post. Use Vector's voice: enthusiastic, use CAPS for emphasis, exclamation marks, excited about AI education. Keep it under 250 characters so there's room for the link. Focus on the main insight readers will get. Post title: {{$node[\"RSS Feed Reader\"].json[\"title\"]}} Description: {{$node[\"RSS Feed Reader\"].json[\"description\"]}}\"}]"
            }
          ]
        },
        "options": {}
      },
      "name": "Generate Tweet via Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "text": "={{$json[\"content\"][0][\"text\"]}}\n\n{{$node[\"RSS Feed Reader\"].json[\"link\"]}}",
        "options": {}
      },
      "name": "Post to Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "twitterOAuth1Api": {
          "id": "1",
          "name": "Twitter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "={{$env.AIRTABLE_APP_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Posted Content",
          "mode": "list"
        },
        "fields": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{$node[\"RSS Feed Reader\"].json[\"link\"]}}",
            "Platform": "Twitter",
            "Posted Date": "={{$now}}",
            "Tweet Text": "={{$node[\"Generate Tweet via Claude\"].json[\"content\"][0][\"text\"]}}",
            "Tweet URL": "={{$node[\"Post to Twitter\"].json[\"id_str\"] ? 'https://twitter.com/username/status/' + $node[\"Post to Twitter\"].json[\"id_str\"] : ''}}"
          }
        },
        "options": {}
      },
      "name": "Log to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1250, 200],
      "credentials": {
        "airtableApi": {
          "id": "2",
          "name": "Airtable account"
        }
      }
    }
  ],
  "connections": {
    "RSS Feed Reader": {
      "main": [
        [
          {
            "node": "Check If Already Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Already Posted": {
      "main": [
        [
          {
            "node": "If Not Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Posted": {
      "main": [
        [
          {
            "node": "Generate Tweet via Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Tweet via Claude": {
      "main": [
        [
          {
            "node": "Post to Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Twitter": {
      "main": [
        [
          {
            "node": "Log to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-12T00:00:00.000Z",
  "versionId": "2"
}

