n8n/email-new-episodes.json
{
  "name": "Email New Episodes to Subscribers",
  "nodes": [
    {
      "parameters": {
        "url": "https://theaifornormalpeople.com/index.xml",
        "options": {}
      },
      "name": "RSS Feed Reader",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "application": "{{$env.AIRTABLE_APP_ID}}",
        "table": "Emailed Episodes",
        "filterByFormula": "URL = '{{$json[\"link\"]}}'",
        "options": {}
      },
      "name": "Check If Already Emailed",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"records\"].length}}",
              "value2": 0
            }
          ]
        }
      },
      "name": "If Not Emailed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "application": "{{$env.AIRTABLE_APP_ID}}",
        "table": "Email Subscribers",
        "filterByFormula": "Status = 'Active'",
        "options": {}
      },
      "name": "Get Subscribers",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-sonnet-4-20250514"
            },
            {
              "name": "max_tokens",
              "value": 500
            },
            {
              "name": "messages",
              "value": "[{\"role\": \"user\", \"content\": \"Write a brief email from Vector introducing this new blog post. Use Vector's enthusiastic voice with CAPS and exclamation marks. Include: 1) One-sentence hook about why this matters, 2) What readers will learn, 3) Link to read more. Keep it under 200 words. End with Vector's signature excitement. Post title: {{$node[\"RSS Feed Reader\"].json[\"title\"]}} Description: {{$node[\"RSS Feed Reader\"].json[\"description\"]}} Link: {{$node[\"RSS Feed Reader\"].json[\"link\"]}}\"}]"
            }
          ]
        },
        "options": {}
      },
      "name": "Generate Email via Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "fromEmail": "vector@theaifornormalpeople.com",
        "toEmail": "={{$json[\"fields\"][\"Email\"]}}",
        "subject": "New from Vector: {{$node[\"RSS Feed Reader\"].json[\"title\"]}}",
        "emailType": "html",
        "message": "={{$node[\"Generate Email via Claude\"].json[\"content\"][0][\"text\"]}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 200],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "application": "{{$env.AIRTABLE_APP_ID}}",
        "table": "Emailed Episodes",
        "columns": "URL,Episode Title,Sent Date,Subscriber Count",
        "options": {}
      },
      "name": "Log to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [1450, 200]
    }
  ],
  "connections": {
    "RSS Feed Reader": {
      "main": [
        [
          {
            "node": "Check If Already Emailed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Already Emailed": {
      "main": [
        [
          {
            "node": "If Not Emailed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Emailed": {
      "main": [
        [
          {
            "node": "Get Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Subscribers": {
      "main": [
        [
          {
            "node": "Generate Email via Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email via Claude": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-10T00:00:00.000Z",
  "versionId": "1"
}


