n8n/multi-platform-social-json-tracking-FIXED.json
{
  "name": "Multi-Platform Social Media (JSON Tracking) - FIXED",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://theaifornormalpeople.com/index.xml"
      },
      "name": "RSS Feed Reader",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fileName": "n8n/tracking/posted-content.json",
        "options": {}
      },
      "name": "Read Tracking JSON",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get episode URL from RSS feed\nconst episodeUrl = $input.first().json.link;\n\n// Parse tracking JSON file\nconst trackingData = JSON.parse($input.first().json.data || '[]');\n\n// Check if this URL was already posted to any platform\nconst alreadyPosted = trackingData.some(entry => \n  entry.url === episodeUrl && entry.status === 'posted'\n);\n\n// Return result\nreturn [{\n  json: {\n    episodeUrl: episodeUrl,\n    episodeTitle: $('RSS Feed Reader').first().json.title,\n    episodeDescription: $('RSS Feed Reader').first().json.description,\n    episodeLink: episodeUrl,\n    alreadyPosted: alreadyPosted,\n    existingEntries: trackingData\n  }\n}];"
      },
      "name": "Check If Posted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "boolean": [
            {
              "value1": "={{$json.alreadyPosted}}",
              "value2": false,
              "operation": "equal"
            }
          ]
        },
        "options": {}
      },
      "name": "If Not Posted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-sonnet-4-20250514"
            },
            {
              "name": "max_tokens",
              "value": 300
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"Write a tweet as Vector (V-847) promoting THIS SPECIFIC blog episode. Vector's voice: FASCINATING! ALL CAPS for emphasis! Rapid-fire, self-interrupting. Sharp, intelligent, mean. Anti-establishment rants. Uses numbered lists. Zero corporate speak. CRITICAL: This tweet must be UNIQUE to this episode - reference the specific topic, insight, or situation from the episode. Don't write generic AI advice. Make it about THIS episode's specific content. Keep it under 240 characters (need room for link). Be FUNNY and engaging - Vector is chaotic but brilliant. Episode title: {{$json.episodeTitle}} Episode description: {{$json.episodeDescription}}\"}]"
            }
          ]
        },
        "options": {}
      },
      "name": "Generate Tweet via Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "oAuth1Api",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{$json[\"content\"][0][\"text\"]}}\n\n{{$('Check If Posted').first().json.episodeLink}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Post to Twitter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 200],
      "credentials": {
        "oAuth1Api": {
          "id": "1",
          "name": "Twitter OAuth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\"model\": \"claude-sonnet-4-20250514\", \"max_tokens\": 300, \"messages\": [{\"role\": \"user\", \"content\": $json.systemPrompt + \" Keep it under 150 characters (need room for link). Make it FUNNY and engaging. Focus on the main insight that will hook readers. Post title: \" + $json.episodeTitle + \" Description: \" + $json.episodeDescription}]} }}",
        "options": {}
      },
      "name": "Generate Bluesky Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "jsCode": "// Get data from previous nodes\nconst blueskyPost = $input.first().json;\nconst checkNode = $('Check If Posted').first().json;\n\n// Get the post text from Claude\nlet postText = blueskyPost.content[0].text || '';\n\n// Get hashtags from Select Character node (if it exists)\nlet hashtags = '';\ntry {\n  const selectCharacterNode = $('Select Character');\n  if (selectCharacterNode && selectCharacterNode.first()) {\n    hashtags = selectCharacterNode.first().json.hashtags || '';\n  }\n} catch (error) {\n  // Select Character node doesn't exist, skip hashtags\n}\n\n// Calculate what we need to add: URL + newlines + hashtags + spaces\nconst url = checkNode.episodeLink;\nconst urlLength = url.length;\nconst newlines = 2; // \\n\\n\nconst hashtagsLength = hashtags ? hashtags.length + 1 : 0; // +1 for space before hashtags\nconst reservedLength = urlLength + newlines + hashtagsLength;\n\n// Calculate max length for post text: 300 total - reserved space\nconst maxPostLength = 300 - reservedLength;\n\n// Truncate post text if it's too long (at sentence or word boundary)\nif (postText.length > maxPostLength) {\n  // First try to truncate at sentence boundary (., !, ?)\n  let truncated = postText.substring(0, maxPostLength - 3);\n  const sentenceEnd = Math.max(\n    truncated.lastIndexOf('. '),\n    truncated.lastIndexOf('! '),\n    truncated.lastIndexOf('? ')\n  );\n  \n  if (sentenceEnd > maxPostLength - 50 && sentenceEnd > 0) {\n    // Found sentence end near the limit, use it\n    truncated = postText.substring(0, sentenceEnd + 1);\n  } else {\n    // No sentence end, try word boundary\n    const lastSpace = truncated.lastIndexOf(' ');\n    if (lastSpace > truncated.length - 30 && lastSpace > 0) {\n      truncated = truncated.substring(0, lastSpace);\n    }\n    truncated = truncated + '...';\n  }\n  \n  postText = truncated;\n}\n\n// Build final post: text + hashtags (if any) + URL\nlet finalPost = postText;\nif (hashtags) {\n  finalPost = postText + ' ' + hashtags + '\\n\\n' + url;\n} else {\n  finalPost = postText + '\\n\\n' + url;\n}\n\n// Build the Bluesky API body\nconst body = {\n  repo: \"thenormalpeople.bsky.social\",\n  collection: \"app.bsky.feed.post\",\n  record: {\n    \"$type\": \"app.bsky.feed.post\",\n    text: finalPost,\n    createdAt: new Date().toISOString()\n  }\n};\n\n// Return the body object directly\nreturn [{\n  json: body\n}];"
      },
      "name": "Build Bluesky Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bsky.social/xrpc/com.atproto.repo.createRecord",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJ0eXAiOiJhdCtqd3QiLCJhbGciOiJFUzI1NksifQ.eyJzY29wZSI6ImNvbS5hdHByb3RvLmFwcFBhc3MiLCJzdWIiOiJkaWQ6cGxjOmZ1NjU3bHFyZ3dnNXhpeTVsZzJmZXNkbSIsImlhdCI6MTc2NjQzNjk4NywiZXhwIjoxNzY2NDQ0MTg3LCJhdWQiOiJkaWQ6d2ViOmRpc2NpbmEudXMtd2VzdC5ob3N0LmJza3kubmV0d29yayJ9.u_7zFGMT2VhD5kF9_NTk_8xDzzXl6OKauzGF0__1r4J_YiaW1a5f0c_bFA3ZHvFyVIiLrh5L7bHnXSHJFF4Wvw"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "name": "Post to Bluesky",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "jsCode": "// Get data from previous nodes\nconst checkNode = $('Check If Posted').first().json;\nconst episodeUrl = checkNode.episodeUrl;\nconst episodeLink = checkNode.episodeLink;\nconst platform = 'Twitter';\nconst postText = $('Generate Tweet via Claude').first().json.content[0].text;\n// HTTP Request returns { data: { id: '...' } } format\nconst tweetId = $input.first().json.data?.id || $input.first().json.id || '';\n\n// Read existing tracking data\nconst existingData = checkNode.existingEntries || [];\n\n// Create new entry\nconst newEntry = {\n  url: episodeUrl,\n  platform: platform,\n  postedDate: new Date().toISOString(),\n  postText: postText,\n  postUrl: tweetId ? `https://twitter.com/username/status/${tweetId}` : '',\n  status: 'posted'\n};\n\n// Add to existing data\nconst updatedData = [...existingData, newEntry];\n\n// Return JSON string for writing\nreturn [{\n  json: {\n    data: JSON.stringify(updatedData, null, 2),\n    platform: platform,\n    entry: newEntry,\n    allEntries: updatedData\n  }\n}];"
      },
      "name": "Log Twitter to JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "jsCode": "// Get data from previous nodes\nconst checkNode = $('Check If Posted').first().json;\nconst episodeUrl = checkNode.episodeUrl;\nconst episodeLink = checkNode.episodeLink;\nconst platform = 'Bluesky';\n\n// Get post text from Generate Bluesky Post node (not from HTTP response)\nlet postText = '';\ntry {\n  postText = $('Generate Bluesky Post').first().json.content[0].text;\n} catch (error) {\n  postText = 'Post text unavailable';\n}\n\n// Get post URL from Bluesky API response\nlet postUrl = '';\ntry {\n  const blueskyResponse = $input.first().json;\n  postUrl = blueskyResponse.uri || blueskyResponse.cid || '';\n} catch (error) {\n  postUrl = '';\n}\n\n// Get existing data - check if Twitter was already logged\nlet existingData = checkNode.existingEntries || [];\n\n// If Twitter was already logged, use that updated data\n// Use try-catch to handle case where Twitter node hasn't executed\ntry {\n  const twitterLogNode = $('Log Twitter to JSON');\n  if (twitterLogNode && twitterLogNode.first()) {\n    const twitterLog = twitterLogNode.first().json;\n    if (twitterLog && twitterLog.allEntries) {\n      existingData = twitterLog.allEntries;\n    }\n  }\n} catch (error) {\n  // Twitter node hasn't executed, continue with existing data\n  // This is fine - we'll just log Bluesky separately\n}\n\n// Create new entry\nconst newEntry = {\n  url: episodeUrl,\n  platform: platform,\n  postedDate: new Date().toISOString(),\n  postText: postText,\n  postUrl: postUrl ? `https://bsky.app/profile/thenormalpeople.bsky.social/post/${postUrl.split('/').pop()}` : '',\n  status: 'posted'\n};\n\n// Add to existing data\nconst updatedData = [...existingData, newEntry];\n\n// Return JSON string for writing - ALWAYS return an array\nreturn [{\n  json: {\n    data: JSON.stringify(updatedData, null, 2),\n    platform: platform,\n    entry: newEntry,\n    allEntries: updatedData\n  }\n}];"
      },
      "name": "Log Bluesky to JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "name": "Merge Logs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "fileName": "n8n/tracking/posted-content.json",
        "dataPropertyName": "data",
        "options": {}
      },
      "name": "Write Tracking JSON",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [2050, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Feed Reader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Reader": {
      "main": [
        [
          {
            "node": "Read Tracking JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tracking JSON": {
      "main": [
        [
          {
            "node": "Check If Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Posted": {
      "main": [
        [
          {
            "node": "If Not Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Posted": {
      "main": [
        [
          {
            "node": "Generate Tweet via Claude",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Bluesky Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Tweet via Claude": {
      "main": [
        [
          {
            "node": "Post to Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Twitter": {
      "main": [
        [
          {
            "node": "Log Twitter to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Bluesky Post": {
      "main": [
        [
          {
            "node": "Build Bluesky Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Bluesky Body": {
      "main": [
        [
          {
            "node": "Post to Bluesky",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Bluesky": {
      "main": [
        [
          {
            "node": "Log Bluesky to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Twitter to JSON": {
      "main": [
        [
          {
            "node": "Merge Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Bluesky to JSON": {
      "main": [
        [
          {
            "node": "Merge Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Logs": {
      "main": [
        [
          {
            "node": "Write Tracking JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-18T00:00:00.000Z",
  "versionId": "1"
}

